.modalBackground {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100%;
  background: rgba(25, 25, 112, 0.3);
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  padding: 7rem 0;
  max-width: 8vw;
  min-width: 60rem;
  height: 80rem;
  border-radius: 1.6rem;
  background: #000;
}

.modalHeader {
  font-size: 3.1rem;
  font-weight: 700;
}

.modal form {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.modalBody {
  flex: 1;
  padding: 0rem 8rem;
}

.inputDiv {
  display: flex;
  flex-direction: column;
  margin-top: 2.5rem;
  width: 30rem;
}
.inputLabel {
  padding: 0.8rem 0.8rem 0;
  display: inline-block;
  width: 100%;
  height: 5.6rem;
  color: rgb(83, 100, 113);
  font-size: 1.4rem;
  border: 0.1rem solid rgb(207, 217, 222);
  border-radius: 0.4rem;
}
.inputLabel:focus-within {
  color: #f00;
}
.input {
  margin-top: 1.6rem;
  padding: 0 1.2rem;
  width: 100%;
  height: 3.7rem;
  font-size: 1.5rem;
  border: none;
}

.modalFooter {
  margin-top: 2.4rem;
  width: 30rem;
  text-align: center;
}

.actionButton {
  width: 100%;
  height: 5rem;
  color: rgb(15, 20, 25);
  background: #fff;
  font-size: 1.8rem;
  font-weight: 600;
  border: none;
  border-radius: 2.5rem;
  cursor: pointer;
}
.actionButton:disabled {
  opacity: 0.5;
}
.actionButton:hover {
  background: rgb(207, 217, 222);
}

.closeButton {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 1.6rem;
  left: 1.6rem;
  width: 3.4rem;
  height: 3.4rem;
  background: #fff;
  border-radius: 1.7rem;
  border: none;
  cursor: pointer;
}
.closeButton:hover {
  background: rgba(207, 217, 222, 0.8);
}

.error {
  color: #f00;
}
