.modalBackground {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 10;
}
.modal {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 10%;
  max-width: 80vw;
  min-width: 60rem;
  max-height: 30rem;
  background: rgb(var(--background-end-rgb));
  border-radius: 1.6rem;
}

.closeButton {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0.8rem;
  top: 0.8rem;
  width: 3.4rem;
  height: 3.4rem;
  background: #fff;
  border-radius: 1.7rem;
  border: none;
  cursor: pointer;
}
.closeButton:hover {
  background: rgba(15, 20, 25, 0.1);
}

.modalForm {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.modalBody {
  display: flex;
  flex: 1;
  flex-direction: row;
  padding: 0rem 1.6rem;
  margin-top: 5.4rem;
}
.postUserSection {
  margin-right: 1.2rem;
  width: 4rem;
}
.postUserImage {
  width: 4rem;
  height: 4rem;
  border-radius: 2rem;
}
.postUserImage img {
  width: 4rem;
  height: 4rem;
  border-radius: 2rem;
}

.inputDiv {
  flex: 1;
  min-height: 9.6rem;
}
.input {
  padding: 1.2rem;
  width: 100%;
  height: 100%;
  font-size: 2rem;
  border: none;
  outline: none;
}
.input::placeholder {
  font-family: "Malgun Cothic", sans-serif;
}

.modalFooter {
  padding: 0rem 1.6rem;
}
.modalDivider {
  width: 100%;
  border-bottom: 0.1rem solid rgb(239, 243, 244);
}
.footerButtons {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.footerButtonLeft {
  flex: 1;
}
.footerButtonLeft input {
}
.uploadButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.4rem;
  height: 3.4rem;
  background: rgba(29, 155, 240, 0.01);
  border-radius: 1.7rem;
  border: none;
  transition-property: background-color;
  transition-duration: 0.2s;
  cursor: pointer;
}
.uploadButton:hover {
  background: rgba(29, 155, 240, 0.1);
}
.uploadButton svg {
  fill: rgb(29, 155, 240);
}

.actionButton {
  margin: 0.8rem 0;
  width: 9.4rem;
  height: 3.6rem;
  color: #fff;
  background: rgb(29, 155, 240);
  font-size: 1.7rem;
  border-radius: 1.8rem;
  border: none;
  cursor: pointer;
}
.actionButton:disabled {
  opacity: 0.5;
}
