.post {
  display: flex;
  flex-direction: column;
  padding: 1.2rem 1.6rem;
  border-bottom: 0.1rem solid rgb(239, 243, 244);
  transition-property: background-color, box-shadow;
  transition-duration: 0.2s;
  cursor: pointer;
}
.post:hover {
  background-color: rgba(239, 243, 244, 0.5);
}

.postWrapper {
  display: flex;
  flex-direction: row;
}

.postUserSection {
  margin-right: 1.2rem;
  width: 4rem;
}
.postUserImage {
  position: relative;
  display: inline-block;
  width: 4rem;
  height: 4rem;
  border-radius: 2rem;
}
.postUserImage img {
  width: 4rem;
  height: 4rem;
  border-radius: 2rem;
}
.postShade {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 4rem;
  height: 4rem;
  border-radius: 2rem;
}
.postShade:hover {
  background-color: rgba(26, 26, 26, 0.15);
}

.postBody {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.postBody > * {
  color: rgb(var(--foreground-rgb));
  font-size: 1.5rem;
}
.postMeta {
  display: flex;
  flex-direction: row;
}
.postUserName {
  font-weight: bold;
}
.postUserId {
}
.postDate {
  color: rgb(83, 100, 113);
}
.postDate:hover {
  text-decoration: underline;
}

/* post Image의 갯수에 따른 css */
.postImageSection {
  display: flex;
  flex-direction: row;
  margin-top: 1.2rem;
  width: 100%;
  border-radius: 1.6rem;
}

.postImageSectionLink {
  background-repeat: no-repeat;
}

.postImageSection.oneImage {
  max-height: 51rem;
}
.postImageSectionLink img {
  width: 100%;
  max-height: 51rem;
  border-radius: 1.6rem;
}
.postImageSection.twoImage .postImageSectionLink {
  flex: 1;
  gap: 0.2rem;
  height: 27.2rem;
}
.postImageSection.twoImage .postImageSectionLink:first-child {
  border-top-left-radius: 1.6rem;
  border-bottom-left-radius: 1.6rem;
}
.postImageSection.twoImage .postImageSectionLink:last-child {
  border-top-right-radius: 1.6rem;
  border-bottom-right-radius: 1.6rem;
}

.postImageSection.threeImage {
  height: 27.2rem;
  gap: 0.2rem;
}
.postImageSection.threeImage > a,
.postImageSection.threeImage > div {
  flex: 1;
}
.postImageSection.threeImage > a {
  border-top-left-radius: 1.6rem;
  border-bottom-left-radius: 1.6rem;
}
.postImageSection.threeImage > div {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
.postImageSection.threeImage > div .postImageSectionLink {
  flex: 1;
}
.postImageSection.threeImage > div .postImageSectionLink:first-child {
  border-top-right-radius: 1.6rem;
}
.postImageSection.threeImage > div .postImageSectionLink:last-child {
  border-bottom-right-radius: 1.6rem;
}

.postImageSection.fourImage {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.2rem;
  height: 27.2rem;
}

.postImageSection.fourImage a:first-child {
  border-top-left-radius: 1.6rem;
}
.postImageSection.fourImage a:nth-child(2) {
  border-top-right-radius: 1.6rem;
}
.postImageSection.fourImage a:nth-child(3) {
  border-bottom-left-radius: 1.6rem;
}
.postImageSection.fourImage a:last-child {
  border-bottom-right-radius: 1.6rem;
}
