.main {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  width: 60rem;
  border-left: 0.1rem solid rgb(239, 243, 244);
  border-right: 0.1rem solid rgb(239, 243, 244);
}

.formZone {
  padding-left: 1.6rem;
  width: 56.6rem;
}

.trend {
  margin-top: 6rem;
  margin-bottom: 1.2rem;
  border-top: 0.1rem solid rgb(239, 243, 244);
  font-size: 2rem;
  font-weight: bold;
}
.trend h3 {
  padding: 1.2rem 1.6rem;
}
